body
{
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background: #f0f0f0;
}

#stage
{
  padding: 10px;
}

#screen
{
  position: relative;
  width: 100%;
  max-width: 550px;
  height: 380px;
  margin: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}

#compareRow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;      
  padding: 5px 10px;
  gap: 8px;          
  position: relative;   /* relatív, hogy ne takarja a függöny */
  z-index: 15;          /* magasabb, mint a függöny z-index */
}

.compareBox {
  width: 18px;
  height: 18px;
  border: 2px solid black;
  border-radius: 4px;
  background: white;
}

.compareBox.active {
  background: darkred;
}

#bunnies
{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 290px;
  padding: 10px;
}

.bunny
{
  position: relative;
  transition: transform 0.35s ease;
}

.bunny img
{
  /*width: min(14vw, 95px);*/
  width: 90px;
  height: 270px;
  user-select: none;
  -webkit-user-drag: none;
}

.selected
{
  transform: translateY(-5px);
}

.check
{
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid black;
  background: white;
  border-radius: 4px;
}

.selected .check
{
  background: limegreen;
}

#curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 305px;

  /* halvány, pasztell csíkos, átlátszatlan */
  background: repeating-linear-gradient(
    to bottom,
    rgb(255, 210, 210) 0 5px,   /* világos, meleg csík */
    rgb(255, 200, 200) 5px 10px /* világosabb csík */
  );

  border-bottom: 1px solid rgb(180, 160, 140); /* finom keret */
  transition: transform 1s ease;
  z-index: 10;
}

#curtain.open
{
  transform: translateY(-100%);
}

button
{
  margin: 10px;
  padding: 12px 18px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background: #2d6cdf;
  color: white;
}

button:active
{
  transform: scale(0.96);
}
